{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>TravelHelp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: ">
        <div style="width: 1385px; height: 100px; left: 27px; top: 20px; position: absolute; background: #2C6B76; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 55px; overflow: hidden; border: 1px black solid">
    <aside>
        <ul>
            <div style="left: 872px; top: 14px; position: absolute; color: white; font-size: 25px; font-family: Alternate Gothic No.1; font-weight: 400; line-height: 72px; word-wrap: break-word"> <a href="faq"><li>FAQ</li></a></div>
            <div style="left: 1041px; top: 14px; position: absolute; color: white; font-size: 25px; font-family: Alternate Gothic No.1; font-weight: 400; line-height: 72px; word-wrap: break-word"><a href="aboutus"><li>О нас</li></a></div>
            <div style="left: 1231px; top: 14px; position: absolute; color: #2C6B76; font-size: 25px; font-family: Alternate Gothic No.1; font-weight: 700; line-height: 72px; word-wrap: break-word"><a href="page0"><li>Начать</li></a></div>
            <div style="left: 27px; top: 15px; position: absolute; color: white; font-size: 40px; font-family:Alternate Gothic No.1; font-weight: 610; word-wrap: break-word"><a href="page"><li>TravelHelp</li></a></div>
        </ul>
    </aside>   
        <div style="left: 523px; top: 30px; position: absolute; color: white; font-size: 24px; font-family:Alternate Gothic No.1; font-weight: 610; word-wrap: break-word">8(995) 500-44-65</div>
        <img src="{% static 'main/img/phone.png' %}" style="width: 50px; height: 50px; left: 460px; top: 25px; position: absolute; border-radius: 9999px" />
        </div>
        <div style="height: 650px; padding: 10px; left: 110px; top: 133px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <img src="{% static 'main/img/image.png' %}" style="align-self: stretch; height: 630px; border-radius: 60px"/>
        </div>
        <div style="width: 980px; height: 188px; left: 157px; top: 190px; position: absolute; color: white; font-size: 60px; font-family: Alternate Gothic No.1; font-weight: 400; line-height: 72px; word-wrap: break-word">Мечты о путешествиях реальны - узнайте стоимость долгожданного отпуска!</div>
        <div style="width: 754px; left: 157px; top: 421px; position: absolute; text-align: justify; color: white; font-size: 20px; font-family: Alternate Gothic No.1; font-weight: 400; line-height: 30px; word-wrap: break-word">Хотите узнать, во сколько обойдется ваше путешествие? Наш сайт поможет рассчитать примерную стоимость поездки всего за пару минут! Ответьте на несколько вопросов, и мы подскажем, какой бюджет вам потребуется, а также порекомендуем подходящие отели, рестораны и развлечения. Пусть планирование путешествия станет легче и приятнее!</div>
        <div style="width: 280px; height: 100px; left: 201px; top: 615px; position: absolute">
    <aside>
        <ul>        
            <div style="left: 65px; top: 14px; position: absolute; color: #F36C72; font-size: 40px; font-family: Alternate Gothic No.1; font-weight: 700; line-height: 72px; word-wrap: break-word"><a href="page0"><li>Начать</li></a></div>
        </ul>
    </aside>    
        </div>
        <div style="width: 1385px; height: 227px; left: 27px; top: 797px; position: absolute; background: #2C6B76; border-top-left-radius: 55px; border-top-right-radius: 55px"></div>
        <div style="width: 278px; height: 56px; left: 107px; top: 820px; position: absolute"><span style="color: white; font-size: 24px; font-family: Alternate Gothic No.1; font-weight: 800; word-wrap: break-word">8 (915) 051-26-04<br/></span><span style="color: white; font-size: 20px; font-family: Alternate Gothic No.1; font-weight: 300; word-wrap: break-word">Контактный центр</span></div>
        <div style="width: 319px; height: 59px; left: 443px; top: 820px; position: absolute"><span style="color: white; font-size: 24px; font-family: Alternate Gothic No.1; font-weight: 800; word-wrap: break-word">8 (977) 811-88-87<br/></span><span style="color: white; font-size: 20px; font-family: Alternate Gothic No.1; font-weight: 300; word-wrap: break-word">Отдел заботы о пользователях</span></div>
    <aside>
        <ul>
            <div style="width: 408px; height: 93px; left: 107px; top: 898px; position: absolute; color: white; font-size: 16px; font-family: Alternate Gothic No.1; font-weight: 400; word-wrap: break-word"><a href="rules"><li>Правила пользования платформой</li></a></div>
            <div style="width: 408px; height: 93px; left: 107px; top: 938px; position: absolute; color: white; font-size: 16px; font-family: Alternate Gothic No.1; font-weight: 400; word-wrap: break-word"><a href="politicconf"><li>Политика конфиденциальности</li></a></div>
            <div style="width: 408px; height: 93px; left: 107px; top: 978px; position: absolute; color: white; font-size: 16px; font-family: Alternate Gothic No.1; font-weight: 400; word-wrap: break-word"><a href="faq"><li>FAQ</li></a></div>
        </ul>
    </aside>    
        <div style="width: 197px; height: 93px; left: 449px; top: 913px; position: absolute; color: #878383; font-size: 48px; font-family: Alternate Gothic No.1; font-weight: 500; word-wrap: break-word">16+</div>
    </div>
</body>
</html>